name: CI - Build e Push das Imagens Docker

# 1. GATILHO: Dispara o pipeline em todo push para a branch 'main'
on:
  push:
    branches: [ "main" ]

# 2. PERMISSÕES: Permite que o pipeline escreva no registro de pacotes do GitHub
permissions:
  packages: write
  contents: read

jobs:
  build-and-push-images:
    runs-on: ubuntu-latest # O pipeline roda em uma máquina Linux

    steps:
      # 3. PASSO: Baixa o seu código para dentro da máquina do pipeline
      - name: Checkout do repositório
        uses: actions/checkout@v4

      # 4. PASSO: Faz login no Registro de Containers do GitHub (GHCR)
      - name: Logar no GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      # 5. PASSO: Build e Push da IMAGEM DA API
      - name: Build e Push da Imagem da API
        uses: docker/build-push-action@v5
        with:
          context: . # Contexto do build (raiz do repo)
          file: ./Mensageria.Api/Dockerfile # Caminho para o Dockerfile da API
          push: true # Queremos enviar (push) para o registro
          tags: ghcr.io/${{ github.repository_owner }}/mensageria-api:latest # Nome da imagem

      # 6. PASSO: Build e Push da IMAGEM DO CONSUMER
      - name: Build e Push da Imagem do Consumer
        uses: docker/build-push-action@v5
        with:
          context: . # Contexto do build (raiz do repo)
          file: ./Mensageria.Consumer/Dockerfile # Caminho para o Dockerfile do Consumer
          push: true # Queremos enviar (push) para o registro
          tags: ghcr.io/${{ github.repository_owner }}/mensageria-consumer:latest # Nome da imagem